<footer class="footer mt-auto py-4 sossoldi-footer text-center">
  <div class="container">
    <span class="fw-bold copyright">
      © {% now "Y" %} Sossoldi Companion - Powered with 💚 by Django
    </span>
    <div class="mt-2">
      <a href="https://github.com/dag7dev/sossoldi-companion" class="mx-2 icon-link" target="_blank">
        <i class="bi bi-github"></i>
      </a>
      <a href="mailto:dag7@protonmail.com" class="mx-2 icon-link">
        <i class="bi bi-envelope-fill"></i>
      </a>
    </div>
  </div>
</footer>
